
h4 { 
     text-decoration: overline;
    }

h2 { color:#006699;}

h5 { color:#cc9900;}

.navbar-brand {
    color: #FFDE00  !important;}

table {
	width: 600px;}

th,td {
	padding: 7px 10px 10px 10px;}
th {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 90%;
	border-bottom: 2px solid #111111;
	border-top: 1px solid #999;
	text-align: left;}

tr.even {
	background-color: #efefef;}

tr:hover {
	background-color: #c3e6e5;}

.summary {
	text-align: center;
	margin: 20px auto 20px auto;
	font-weight: normal;
  	}


.visualpage { text-align: center;
	      border: 4px double;
	      
	      margin: 10px auto 10px auto;
	      padding: 20px;
	     }


